@font-face {
  font-family: "caviar";
  src: url(../font/caviar_dreams/CaviarDreams_BoldItalic.ttf);
}

.titre {
  font-family: "caviar";
}

.images {
  width: 40%;
  /*height: 300px;*/
  position: absolute;
  margin-left: 30%;
}

.nav {
  position: absolute;
top: 95%;
left: 45%;
}

button {
  background-color: white;
  border: 2px solid #01B0CF;
  border-radius: 3px;
  height: 35px;
  width: 60px;
}
